
body {
    margin:0;
    padding:2% 5%;
	background: #DCDCC6 url(./gplay.png) fixed;
    font-family: "Source Sans Pro", sans-serif;
	color: #504E43;
  }

#maincontainer {
      width:1000px;
      margin:auto;
  }


/*! ======== Header ======== */

header, #leftcol, #rightcol {
 	background: #fff; 
	border-radius: 4px;
}

header {
	padding: 25px;
}

header #zumlogo {
	float: right;
	max-height: 100%;
	max-width: 100%;
	width: 150px;
	border-radius: 4px;
}

header hr {
	clear: both;
	visibility: hidden;
}



#about {
	padding: 15px 0 0 0;
  }

#about1, #about2 {
	background:#fff;
	margin: 0;
	padding: .5em 1em;
	font-size: 1.5em;
	color: #636358;
	border-radius: 10px;
	background-color: #fff;
}

#about1wrapper {
	float: left;
	width: 46%;
	margin:0;
	padding-bottom: 65px;
	background: url(speech-left.png) bottom 25px left 25px no-repeat;
}


#about2wrapper {
	float: right;
	width: 42%;
	margin:0 0 3em 0;
	padding-bottom: 55px;
	background: url(speech-right.png) bottom 25px right 25px no-repeat;
	border-radius: 10px;
}


#twoposs {
	clear: both;
	font-size: 3em;
	text-align: center;
	margin: 0 0 -.25em 0;
	color: #4b4b40;
	position: relative;
 	top:-1em; 
}



#colcontainer {
	display: table;
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
}

#leftcol {
     display: table-cell;
     width:49%;
     border-radius: 4px;
	padding-bottom: 30px;
  }

#middlecol {
	width: 2%;
	padding:5px;
}

#rightcol {
	 display: table-cell;
     width:49%;
     border-radius: 4px;
	padding-bottom: 30px;
  }

footer {
      clear:both;
      margin:20px 0 50px 0;
      text-align:center;
      padding:3px;
  }


@media (max-width: 1000px) {
  #maincontainer {
  	width:100%;
  }

  #leftcol,#rightcol {
      float:none;
      width:auto;
      padding:0 10px;
  }
  img {
      max-width:100%;
      height:auto;
  }
}


/*! ======== Icons ======== */ 

#zumpadtext-icon, 
#zumpadpro-icon {
	float: right;
	width: 100px;
	margin: -20px 15px 0 .5em;
}


/*! ======== Typographie ======== */ 


a:link, a:visited {
	color: #504E43;
}

a:hover {
	background: #f0edd9;
}


#colcontainer p, 
#colcontainer li {
    font-size: 1.2em;
    margin: .125em 0 .75em 0;
}

#colcontainer p strong,
#colcontainer li strong {
	font-weight: normal;
	background: #ffe970;
	padding:0 3px;
}

h2 {
	font-size: 3.5em;
	font-weight: normal;
	margin: 0 0 .25em 0;
	padding:.125em .125em .125em .5em;
    border-radius: 4px 4px 0 0;
}

h2 strong {
	font-weight: bold;
}

h2#zumpadtext {
	background-color: #FFE970;
}


h2#zumpadpro {
	background-color: #504e43;
	color: #FFF9CC;
}

#colcontainer .column ul, 
#colcontainer .column ol,
#colcontainer .column h3 {
	margin: 1em;
	line-height: 1.6;
}  

#colcontainer .column p {
/* 	margin-left:3em; */
	text-align: center;
}


#colcontainer .column hr.or {
	margin: 14px 4em;
	padding: 0;
	border:none;
	border-bottom:1px solid #CECFB7; 
}

#colcontainer #leftcol p.or {
	margin: -29px 3em 14px 3em;
	text-align: center;
}

#colcontainer #leftcol .or span {
	padding: 0 8px 2px 9px;
	background-color: #fff;
	color: #98997f;
	font-size: 16px;
	border:1px solid #CECFB7; 
	border-radius: 14px;
	
}

/*! ======== Links ======== */

section.column .register, 
section.column .newzumpadtext {
	margin: 2em 3em !important;
}



section.column .register a, 
section.column .newzumpadtext a {
	display: block;
	padding:.5em 1em;
	text-align: center;
	border-radius: 4px;
	
}


#leftcol .newzumpadtext a {
	background-color: #FFE970;
	text-decoration: none;
}

#leftcol .register a {
	background-color: #CECFB7;
	text-decoration: none;
}


.column .register, 
.column .newzumpadtext {
	font-weight: bold;
}

#leftcol .newzumpadtext a:link {	
	color: #504E43;
	background-color: #63604d;
}

#leftcol .newzumpadtext a:hover {	
	color: #504E43;
	background-color: #EAD457;
}

#leftcol .register a:hover {	
	color: #504E43;
	background-color: #B4B69D;
}


#leftcol .register a:visited, 
#leftcol .newzumpadtext a:visited {	
	color: #504E43;
}



#rightcol .register a:link {	
	color: #fff;
	background-color: #63604d;
	text-decoration: none;
}

#rightcol .register a:hover {	
	color: #fff;
	background-color: #3f3d31;
	text-decoration: none;
}

#rightcol .register a:visited {	
	color: #fff;
	text-decoration: none;
}


/*! ======== Datenschutzhinweis ======== */

#privacy {
	margin:1.5em 0 0 0;
	padding:1em 3em;
	background: #fff;
	border-radius: 4px;
}

#privacy h3 {
	margin: 0 0 .25em 0;
	font-size: 2em;
	font-weight: normal;
	padding:0;
}

#privacy p {
	margin: 1em 1em 1em 0;
	font-size: 1.25em;
	padding:0;
}

#privacy img {
	float: left;
	margin:1em 1em .125em 0;
}




/*! ======== Vergleichstabelle ======== */

#comparison {
	margin:1.5em 0 0 0;
	padding:1em 3em;
	background: #fff;
	border-radius: 4px;
}

#comparison h2 {
	margin: .25em 0 0 0;
	font-size: 3em;
	text-align: center;
}

#zumpadcompare {
	margin:0;
	padding:3em 3em;
	width: 100%;
	background:#fff;
	border-radius: 4px;
	text-align: center;
}

col#tableleftcol, 
col#tablemiddlecol,
col#tablerightcol {
	width:33%;
	border: none;
}



#zumpadcompare th, 
#zumpadcompare td {
	border-collapse:collapse;
	border: none;
	margin:0;
	padding:.5em 1em;
} 

#zumpadcompare th,
#zumpadcompare .even {
	background-color: #DFE0D1;
}



/*! ======== Footer ======== */


footer a {
	color: #2E4455;
}

